form
{
    width: 800px;
    margin: 0px auto;
    padding: 15px;
    border: 1px dashed blue;
}


input[type=text], input[type=password]
{
    width: 97%;
    margin-bottom: 15px;
    display: block;
    padding: 10px;
    font-size: x-large;
}

textarea
{
    width: 97%;
}

input[type=number]
{
    width: 97%;
    margin-bottom: 15px;
    padding: 10px;
    margin: 0px auto;
}
h3 {
    
    color: #be0f17;
    font-weight: normal;
    font-size: 20px;
    font-family: Arial;
}
h2 {
    color: #10ac1d;
    font-weight: normal;
    font-size: 20px;
    font-family: Arial;
  }